/*Global 
----------------------------------------------------------*/
* , *::after ,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

.content-wrap{
    padding: 40px 0;
    max-width: 900px;
    width:85%;
    margin: 0 auto;
    align-items: center;
}

.contact-us{
    position:fixed;
    bottom: 2px;
    right: 2px;
    padding: 2.5vh;
    border-radius: 10px;
    background-color:#e63946;
    color:white;
    text-decoration: none;
}

.contact-us:hover {
    font-weight: bold;
    background-color: white;
    color: #e63946;
    border: solid 2px #e63946;
  }

h1 , h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
  }
h1{
    font-weight: bold;
    font-size: 50px;
}


a{
    color: gold;
  }
a:hover{
    text-decoration: none;
    color: #ffb800;
  }


/*Headre
-----------------------------------------------------------*/
header{
    background-color:#ffba08;
    color:#184e77;
    text-align: center;
    position:sticky;
    top:0px;
}

header div{
    padding: 1px;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

.intro{
    text-align: center;
    background-color:#ffba08;
    color:#184e77;
}

/*projects
----------------------------------------------------*/

.project-wrap{
    background-color: #17c3b2;
    color: white;
}

.project::after{
    content: "";
    clear: both;
    display: table;
}

.btn{
    background-color:#50514f;
    color: wheat;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 20px;
}

.btn:hover{
    color:#202020;
    background-color: goldenrod;
}

.project{
    border-bottom:3px dotted white ;
}

img{
    border-radius: 40px;
    width: 300px;
    float: left;
    padding: 20px;
    padding-left: 0;
}
/*Work Exp
----------------------------------------------------*/
.work{
    background-color: #e8eddf;
}

.red{
    color:#ff6b6b;
}



/*Education
----------------------------------------------------*/
.education{
    background-color: #caffbf;
}


/*Footer
----------------------------------------------------*/
footer{
    background-color: #242423;
    color: white;
    text-align: center;
}

.contact-list{
    list-style-type: none;
    padding: 0;
}

.contact-list li{
    display: inline-block;
    padding: 10px;
}








