/*Global 
----------------------------------------------------------*/
* , *::after ,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    transform: translateY(-2000px);
    animation: clear 1.5s 1s forwards;
}

.content-wrap{
    padding: 40px 0;
    max-width: 900px;
    width:85%;
    margin: 0 auto;
    align-items: center;
    
}

.contact-us{
    position:fixed;
    bottom: 2px;
    right: 2px;
    padding: 3vh;
    border-radius: 10px;
    background-color:#e63946;
    color:white;
    text-decoration: none;
    z-index: 100;
}

.contact-us:hover {
    font-weight: bold;
    background-color: white;
    color: #e63946;
    border: solid 2px #e63946;
  }

h1 , h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 0;
  }

h1 , h2 , h3{
    transform: translateX(500px);
    animation: clear 1.5s 1s forwards;
}

h1{
    font-weight: bold;
    font-size: 50px;

}


a{
    color: gold;
  }
a:hover{
    text-decoration: none;
    color: #ffb800;
    font-weight: 800;
  }

  h3 + p{
      font-style: italic;
  }
  

/*Headre
-----------------------------------------------------------*/
header{
    background-color:#ffba08;
    color:#184e77;
    text-align: center;
    position:fixed;
    width: 100%;
    top:0px;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    z-index: 100;
}


.intro{
    margin-top: 50px;
    text-align: center;
    background-color:#ffba08;
    color:#184e77;

}

/*projects
----------------------------------------------------*/

.project-wrap{
    background-color: #17c3b2;
    color: white;
}

.project p{
    font-style: normal;
}

.project::after{
    content: "";
    clear: both;
    display: table;
}

.btn{
    background-color:#50514f;
    color: wheat;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 20px;
    position: relative;
}

.btn::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 5%;
    border-radius: 20px;
    background-color: white;
    scale: 0;
    opacity: 0;   
}

.btn::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    top: 0;
    left: 5%;
    border-radius: 20px;
    background-color:white;
    opacity: 0;
}

.btn:hover::before , .btn:hover::after{
    opacity: 1;
    transition: all 0.9s cubic-bezier(.17,.67,.71,1.64);
}

.btn:hover{
    color:#202020;
    background-color: #ffba08;
    transform:scaleX(1.2) scaleY(1.2) scaleZ(1.2);
    transition: all 0.5s;
    transition-duration: 200ms;
    transition-property: all;
}

.doc{
    padding: 10px 20px;
}

.project{
    border-bottom:3px dotted white ;
}

img{
    border-radius: 40px;
    width: 300px;
    float: left;
    padding: 20px;
}
/*Work Exp
----------------------------------------------------*/
.work{
    background-color: #e8eddf;
    background-image: url(images/pexels-karolina-grabowska-4194849.jpg);
    background-size: cover;
}

.red{
    color:#ff6b6b;
}



/*Education
----------------------------------------------------*/
.education{
    background-color: #caffbf;
}


/*Footer
----------------------------------------------------*/
footer{
    background-color: #242423;
    color: white;
    height: 45vh;
    text-align: center;
    background-image: url(images/pexels-sathesh-d-698808.jpg);
    background-size: cover;
}

.contact-list{
    list-style-type: none;
    padding: 0;
}

.contact-list li{
    display: inline-block;
    padding: 15px;
}


/*media-queries
---------------------------------------------------------*/
@media screen and (max-width: 600px){
    img{
        float: none;
        margin-top: 20px;
        padding: 2px;
    }
    .project{
        display: block;
        text-align: center;
    }

    .project p{
        text-align: justify;
    }

    .btn{
        padding: 10px 20px;
    }

    .doc{
        padding: 10px 50px;
    }

    .contact-us{
        padding: 2vh;
    }


}

@media screen and (max-width:500px) {
    img{
        float: none;
        margin-top: 20px;
        padding: 2px;
    }
    .project{
        display: block;
        text-align: center;
    }

    .project p{
        text-align: justify;
    }

    .btn{
        padding: 10px 20px;
    }

    .doc{
        padding: 10px 40px;
    }

    .contact-list li{
        display: block;
        text-align: center;
        padding:10px;
        margin: 0;
    }

    .contact-us{
        padding: 1.5vh;
    }
    footer{
        height: auto;
    }
}




@keyframes clear{
    to{
        transform: none;
        opacity: 1; 
    }
}

